@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;1,400;1,500;1,600;1,700&display=swap');

* {   
    font-size: 16px;
    font-family:  'Cabin', sans-serif;
    --navbar-color: #C72553;
    --bg-color-custom: #9fe2bf;   
    --main-content-bg-color: white;
}

body {
    background-color: var(--bg-color-custom);    
}

#navbar-custom {
    background-color: var(--bg-color-custom);    
    color: black; 
    font-weight: bold;
}


.navbar-btn-cust {
    color: var(--navbar-color);
}

#navbar-logo img{
    height: 40px;
    width: auto;
}

#page-footer {  
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-custom);    
    color: var(--navbar-color);
}

#page-footer .nav-link{
    color: var(--navbar-color);
}

#main-content {
    background-color: var(--main-content-bg-color);
}

#about-header {
    height: 400px;    
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1559724551-9f8b249ae5a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
}


#about-art-img {
    height: 200px;
    background: url("../images/meet-team-img.jpeg");
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
}

#teamProfileSlides{
    padding: 0;
}

#teamProfileSlides .carousel-caption, #teamProfileSlides .carousel-indicators{
    width: auto;
    background-color: darkgrey;    
}

.carousel-item img{
    width: 500px;
    height: 500px;   
    object-fit: cover;
}

#jeremy-prof-img {
    object-position: 0 0;
    position: relative;
    top: 0;
}

.item-img {
    width: 50px;
    height: auto;
}